css

body{
  margin: 0 auto;
}

#header {
background: rgb(220,225,226);
background: linear-gradient(90deg, rgba(220,225,226,1) 0%, rgba(154,217,236,1) 25%, rgba(106,212,243,1) 75%, rgba(45,205,253,1) 100%);
display: flex;
align-items: center;
justify-content: space-between;
color: black;
}

#header-link-div{
  padding-left: 15px;
}

.home-button {
  height: 35px;
  /* background: #3d85c6; */
  background: linear-gradient(#3d85c6, #073763);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

button:focus {outline:0;}

#header-login{
  padding-right: 15px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

#header-login:hover{
  text-decoration: underline;
  color: white;
}


#footer {
  background: rgb(220,225,226);
  background: linear-gradient(5deg, rgba(220,225,226,1) 19%, rgba(32,186,232,1) 40%, rgba(3,167,215,1) 80%, rgba(0,193,251,1) 100%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

